---
layout: default.hbs
title: m9 - embedded handlebars helpers
---

<article>
  <div><a href="{{site.url}}">..back to index</a></div>
  <h1>Embedded handlebars helpers</h1>
  <h2>json</h2>
  <p>Returns json serialized input as a string.<p>
  <p>Example: \{{json site}}</p>
  <p>
    Result:
    <pre>{{json site}}</pre>
  </p>
</article>