<header>
  <h1><img src="/images/m9-generator-logo.svg" alt="m9-generator">generator</h1>
  <hr>
  <div class="download">
    <a href="{{site.repository}}">GitHub project<img src="/images/github.svg"></a>
  </div>
  <div class="intro">
    <p>Static site generator powered by gulp, metalsmith and webpack.</p>
  </div>
</header>
