@import url(https://fonts.googleapis.com/css?family=Aldrich|Amatic+SC|Sunflower:300);
body {
  font-weight: 300;
  font-size: 16px;
  padding: 0; margin: 0;
  line-height: 1.2;
}body, a {
  color: #272727;
}code {
  font-family: 'Anonymous Pro', monospace;
  font-size: 0.9em;
  white-space: nowrap;
}article, aside, figure, footer, header, hgroup, nav, section {
  display: block;
}pre {
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
}/* Custom text-selection colors (remove any text shadows: twitter.com/miketaylr/status/12228805301) */::selection {background: #178B42; color: #fff; text-shadow: none;}/*  j.mp/webkit-tap-highlight-color */a:link {-webkit-tap-highlight-color: #178B42;}.clear {
  height: 1px; clear: both;
}body {
  font-family: 'Sunflower', sans-serif;
  font-size: 14px;
  line-height: 1.4;
}header,
footer,
.content {
  width: auto;
  margin: 1em
}@media (min-width: 780px) {header,
footer,
.content {
    width: 40em;
    margin: 0 auto
}
  }header {
  margin-top: 4em;
  margin-bottom: 5em
}header h1 {
    white-space: nowrap;
    font-family: 'Aldrich', sans-serif;
    font-size: 300%;
  }header h1 img {
      width: 20%;
      margin-right: 0.5em;
      vertical-align: top;
    }header h1 {
    margin: 0.5em 0;
  }header h2 {
    margin: 0.5em 0;
    font-weight: 400;
    font-size: 2.2em;
    margin-left: 3.9em;
  }header hr {
    display: none;
  }header .download {
    margin: 1.2em 0;
    line-height: 1.6
  }header .download a {
      font-size: 1.4em;
      font-weight: 400;
      display: inline-block;
      text-decoration: none;
      padding: 0 0.5em;
      border-radius: 0.2em;
      border: 0.1em solid color-mod(#FEE2AF blackness(10%));
      background-color: color-mod(#FEE2AF lightness(85%))
    }header .download a:hover {
        background-color: color-mod(#FEE2AF lightness(85%));
        border-color: color-mod(#FEE2AF blackness(10%));
      }header .download a img {
        width: 1.1em;
        display: baseline;
        vertical-align: sub;
        margin-left: 0.5em;
      }@media (min-width: 780px) {
      header .download a {
        border: 0.1em solid color-mod(#FEE2AF blackness(0%));
        background-color: #fff;
      }
    }.intro {
  font-family: 'Aldrich', sans-serif;
  font-size: 1.4em;
  font-style: italic;
  margin: 1.4em 0 2em
}@media (min-width: 780px) {.intro {
    font-size: 2.2em
}
  }footer {
  text-indent: 6.5em;
  margin-top: 8em;

  margin-bottom: 2em;
  font-style: italic;
  font-size: 0.9em
}footer a {
    color: color-mod(#272727 lightness(60%));
    text-decoration: none;
  }@media (max-width: 560px) {
  header {
    margin: 0
  }
    header h1 { line-height: 1; }
    header .download {
      text-align: center;
      margin: 0
    }
      header .download a {
        margin: 0.5em 0.2em;
        display: block;
      }
    header hr {
      display: block;
      border: 0;
      height: 0.25em;
      margin: 1em -0.1em;
      background: #272727;
      border-radius: 0.25em;
    }
    header .intro {
      margin: 0;
      text-align: center;
      font-size: 1.4em
    }
      header .intro p {
        margin: 1em 0;
      }

  footer {
    padding-top: 5em;
    text-indent: 0;
    text-align: center;
  }
}@media (min-width: 780px) {
  body {
    font-size: 16px;
  }
}@media (min-width: 1250px) {
  body {
    font-size: 20px;
  }
}article {
  font-family: 'Sunflower', sans-serif;
}article .body {
    width: 32em
  }article .body h1, article .body h2, article .body h3 {
      font-family: 'Amatic SC', cursive;
      margin: 0;
      font-size: 1.7em;
      font-weight: 400;
      margin-bottom: 0.9em;
    }article .body p {
      font-size: 1.1em;
    }article {

  margin-bottom: 2em;
}@media (max-width: 560px) {
    article .body {
      width: auto;
    }
}

